body {
  background-color: #fff;
}

#login-button {
  background-color: #fff;
  border-color: rgb(0, 112, 186);
  color: rgb(0, 112, 186);
  border-radius: 25px;
}

#login-button:hover {
  background-color: rgb(0, 112, 186);
  color: #fff;
}

#registration-button {
  background-color: rgb(0, 112, 186);
  border-radius: 25px;
  margin-left: 9px;
}

#registration-button:hover {
  background-color: #fff;
  color: rgb(0, 112, 186);
}

.navbar-brand {
  color: rgb(0, 112, 186);
  font-weight: bold;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
  background-color: rgb(0, 112, 186);
  color: white;
}

#featured-3 > p {
  text-align: center;
}

#featured-3 span {
  color: rgb(0, 112, 186);
  font-weight: bold;
}

.carousel-inner {
  /*height: 560px*/
}

.registration-container, .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.registration-container div {
  width: 300px;
}

.login-container div {
  width: 300px;
}

#data-confirmation-button {
  width: 300px;
  background-color: rgb(0, 112, 186);
}

#data-confirmation-button:hover {
  background-color: #fff;
  color: rgb(0, 112, 186);
}

.nav-link.active {
  font-weight: bold;
  color: rgb(121, 122, 122) !important;
}

.nav-link:hover {
  /*text-decoration: underline;*/
  color: rgb(0, 112, 186);
  background-color: rgb(204, 222, 227);
}