{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock%}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {
            $('#formPassword').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    },
                    repeat_password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'Email jest już zajęty'
                    }
                }
            });
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

    <script>
      jQuery.extend(jQuery.validator.messages, {
        required: "To pole jest wymagane.",
        remote: "Proszę popraw to pole.",
        email: "Proszę wprowadzić prawidłowy adres email.",
        url: "Proszę wprowadzić poprawny adres URL.",
        date: "Proszę wprowadzić prawidłową datę.",
        dateISO: "Proszę wprowadzić prawidłową datę (ISO).",
        number: "Proszę wprowadzić prawidłową liczbę.",
        digits: "Proszę wprowadzić tylko cyfry.",
        creditcard: "Proszę wprowadzić prawidłowy numer karty.",
        equalTo: "Proszę wprowadzić takie same wartości.",
        accept: "Please enter a value with a valid extension.",
        maxlength: jQuery.validator.format("Proszę wprowadzić nie więcej niż {0} znaków."),
        minlength: jQuery.validator.format("Proszę wprowadzić nie mniej niż {0} znaków."),
        rangelength: jQuery.validator.format("Proszę wprowadzić wartość pomiędzy {0} i {1} długości znaków."),
        range: jQuery.validator.format("Proszę wprowadzić wartość pomiędzy {0} i {1}."),
        max: jQuery.validator.format("Proszę wprowadzić wartość mniejszą lub równą {0}."),
        min: jQuery.validator.format("Proszę wprowadzić wartość większą lub równą {0}.")
      });
    </script>

{% endblock %}

{% block body %}

    <main>
        <div class="profile-container">
          <header>
            <h2>Resetowanie hasła</h2>
          </header>

          {% if user.errors is not empty %}
            <ul class="errorMessages">
                {% for error in user.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
          {% endif %}
    
          <form action="/password/reset-password" id="formPassword" method="post">
            <input type="hidden" name="token" value="{{ token }}" />
    
            <div class="input-group mb-3">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
              </span>
              <input type="password" name="password" class="form-control" placeholder="Nowe hasło" aria-label="Hasło - puste oznacza bez zmian"> 
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                  </svg>
                </span>
                <input type="password" name="repeat_password" class="form-control" placeholder="Powtórz hasło" aria-label="Powtórz hasło">
            </div>
            
            <button id="data-confirmation-button" class="btn btn-primary" type="submit">Zatwierdź</button>
            
          </form>
        </div>
      </main>

{% endblock %}