{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <main>
        <div class="profile-container">
            <header>
                <h2>Resetowanie hasła</h2>
            </header>
        </div>
            
        <div class="messages">
            <article>
                <p>Link do resetowania hasła jest nieprawidłowy lub wygasł, proszę kliknij <a id="forgot-text" href="/password/forgot">tutaj</a> aby wysłać ponowną prośbę.</p>
            </article>
        </div>
    </main>

{% endblock %}