{% extends "base.html" %}

{% block title %}Przeglądaj bilans{% endblock %}

{% block footer %}
 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
    
        {% if total_expenses is not null or total_expenses is not empty %}
            google.charts.setOnLoadCallback(drawChart);
        {% endif %}

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Category', 'Expense Amount'],
                {% for total_expense in total_expenses %}
                    ['{{ total_expense.name }}', {{ total_expense.total_amount_by_category | number_format(2, '.', '')}}],
                {% endfor %}
            ]);

            var options = {
                is3D: false,
                backgroundColor: 'transparent',
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

{% endblock %}

{% block body %}

    <main>
        <article>
            <div class="table-container container">

                {% if title == 'current month' %}
                    <h2>Bieżący Miesiąc</h2>
                {% elseif title == 'previous month' %}
                    <h2>Poprzedni Miesiąc</h2>
                {% elseif title == 'current year' %}
                    <h2>Bieżący rok</h2>
                {% else %}
                    <h2>Wybrany zakres {{ title }}</h2>
                {% endif %}

                {% if date_errors is not empty %}
                    <ul class="errorMessages list-unstyled">
                        {% for error in date_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="incomes-expenses-container">
                    <section>
                        <div class="incomes-container">
                            <header>
                                <h3>Przychody</h3>
                            </header>
                            <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Data</th>
                                <th scope="col">Kwota</th>
                                <th scope="col">Komentarz</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                
                                {% for income in incomes %}
                                <tr>
                                    <th scope="row" class="number">{{ loop.index }}</th>
                                    <td>{{ income.name }}</td>
                                    <td>{{ income.date_of_income }}</td>
                                    <td>{{ income.amount }} zł</td>
                                    <td>{{ income.income_comment }}</td>
                                    <td>
                                        <a href="/Budget/Income/edit?id={{ income.id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen money" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            </table>
                            <div class="sum">
                            
                                {% for total_income in total_incomes %}
                                    <p class="first-sum-column">Suma {{ total_income.name }}:</p><p class="secound-sum-column">{{ total_income.total_amount_by_category }} zł</p>
                                {% endfor %}

                            <p class="first-sum-column">Suma przychodów:</p><p class="secound-sum-column">{{ sum_of_incomes | number_format(2, '.', '') }} zł</p>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="expenses-container">
                            <header>
                            <h3>Wydatki</h3>
                            </header>
                            <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Data</th>
                                <th scope="col">Kwota</th>
                                <th scope="col">Komentarz</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                
                                {% for expense in expenses %}
                                <tr>
                                    <th scope="row" class="number">{{ loop.index }}</th>
                                    <td>{{ expense.name }}</td>
                                    <td>{{ expense.date_of_expense }}</td>
                                    <td id="table-margin">{{ expense.amount }} zł <div class="small-font">{{ expense.payment_method }}</div></td>
                                    <td>{{ expense.expense_comment }}</td>
                                    <td>
                                        <a href="/">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen money" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            </table>
                            <div class="sum">
                            
                            {% for total_expense in total_expenses %}
                                <p class="first-sum-column">Suma {{ total_expense.name }}:</p><p class="secound-sum-column">{{ total_expense.total_amount_by_category }} zł</p>
                            {% endfor %}

                            <p class="first-sum-column">Suma wydatków:</p><p class="secound-sum-column">{{ sum_of_expenses | number_format(2, '.', '') }} zł</p>
                            </div>
                        </div>
                    </section>
                </div>

                <section>
                    <div class="balance-container">
                        <h3>Bilans: {{ balance }} zł</h3>
                        
                        {% if balance > 0 %}
                            <h3 class="green-text">Gratulacje. Świetnie zarządzasz finansami!</h3>
                        {% else %}
                            <h3 class="errorMessages">Uważaj, wpadasz w długi!</h3>
                        {% endif %}

                        <p>Wykres wydatków z wybranego okresu:</p>
                        <div id="piechart"></div>
                    </div>
                </section>

            </div>
        </article>
    </main>

{% endblock %}