{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block body %}

    <main>
        <div class="container col-xxl-9 px-4 py-5">
        <article>
            <div class="row flex-lg-row-reverse align-items-center
            justify-content-center g-5 py-5">
            
                <section class="col-12 col-sm-12 col-lg-6">
                    <img src="/images/money-and-account-balance.png" class="d-block mx-lg-auto img-fluid" alt="money-and-account-balance" loading="lazy">
                </section>

                <section class="col-lg-6">
                    <header>
                    <h2 class="display-7 text-body-emphasis lh-1 mb-3">Jak korzystać z aplikacji?</h2>
                    </header>
                    <div class="row mb-3 text-left">
                        <div class="col-md-1 themed-grid-col number">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                            </svg>
                        </div>
                        <div class="col-md-3 themed-grid-col short-description">Dodaj przychód:</div>
                        <div class="col-md-8 themed-grid-col long-description">Zapis kwot otrzymanych z różnych źródeł zarobkowych. Do każdej kwoty przypisujemy kategorię źródła przychodu oraz datę jej otrzymania.</div>
                    </div>
                
                    <div class="row mb-3 text-left">
                        <div class="col-md-1 themed-grid-col number">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-2-circle" viewBox="0 0 16 16">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                            </svg>
                        </div>
                        <div class="col-md-3 themed-grid-col short-description">Dodaj wydatek:</div>
                        <div class="col-md-8 themed-grid-col long-description">Zapis kwot rozchodowych w różnych formach. Do każdej kwoty przypisujemy kategorię celu wydatku, sposób płatności oraz datę wykonania operacji.</div>
                    </div>
                
                    <div class="row mb-3 text-left">
                        <div class="col-md-1 themed-grid-col number">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-3-circle" viewBox="0 0 16 16">
                            <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                            </svg>
                        </div>
                        <div class="col-md-3 themed-grid-col short-description">Przeglądaj bilans:</div>
                        <div class="col-md-8 themed-grid-col long-description">Wyświetlanie zestawienia przychodów i wydatków nadając dowolny okres rozliczenia.</div>
                    </div>
                
                    <div class="row mb-3 text-left">
                        <div class="col-md-1 themed-grid-col number">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-4-circle" viewBox="0 0 16 16">
                            <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                            </svg>
                        </div>
                        <div class="col-md-3 themed-grid-col short-description">Ustawienia:</div>
                        <div class="col-md-8 themed-grid-col long-description">Funkcja zmiany danych użytkownika.</div>
                    </div>
                </section>
            </div>
        </article>
        </div>
    </main>

{% endblock %}