{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <main>
        <div class="profile-container">
            <header>
                <h2>Ustawienia profilu</h2>
            </header>
        </div>

        <div class="messages">
            <article>
                <dl>
                    <dt>Imię</dt>
                    <dd>{{ user.name }}</dd>
                    <dt>Email</dt>
                    <dd>{{ user.email }}</dd>
                </dl>
            </article>
        </div>
    </main>

{% endblock %}